// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tweets
  .tweet
    clear: both
    width: 40em
    .geo
      float: right
      margin: 1em
    .author
      float: left
      text-align: right
      margin: 1em
    p.body
      width: 30em
      margin: 1em
