// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet
  clear: both
  width: 50em
  $middleWidth: 30em
  $leftWidth: 7em
  $rightWidth: 8em
  box-sizing: border-box
  margin: 0
  p
    margin: 0
  .geo
    float: right
    padding: 1em
    width: $rightWidth
  .author
    float: left
    text-align: right
    width: $leftWidth
    padding: 1em
  .main
    float: left
    width: $middleWidth
    p.body
      padding: 1em
    nav
      padding: 1em
